.about__us{
    margin-top: 15%;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.why__rhytm{
    padding: 0 15px;
    width: 100%;
    min-height: 508px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    padding-top: 93px;
    h2{
        color: white;
    }
    .benefits__row{
        margin-top: 75px;
        max-width: 1100px;
        width: 100%;
        min-height: 193px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .benefits__row__card{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 204px;
            height: 193px;
            img{
                position: absolute;
                top: 0;
                width: 72px;
                height: 72px;
            }
            .benefits__title{
                text-align: center;
                height: 27px;
                color: white;
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                margin-bottom: 12px;
            }
            p{
                text-align: center;
                font-weight: 400;
                @include adaptiv-font(14, 12);
                line-height: 21px;
                text-align: center;
                text-transform: capitalize;
                color: #666666;
            }
        }
    }
}

.our__customers{
    min-height: 503px;
    max-width: 1090px;
    width: 100%;
    margin-top: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swiper{
    width: 100%;
}

.custom-pag{
    display: flex;
    align-items: center;
    transform: translate(0px, -100%);
    justify-content: flex-end;
    .swiper-pagination-bullet{
        opacity: 1;
        border-radius: 20px;
        background-color: #c4c4c4;
        transition: 0.1s;
        flex: 0 0 10px;
        height: 16px;
    }
    .swiper-pagination-bullet-active{
        background-color: #ff6428;
        flex: 0 0 24px;
        height: 12px;  
    }
}

.slide{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 340px;
    img{
        padding: 0 15px;
    }
    .text__block{
        max-width: 524px;
        min-height: 341px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            font-style: normal;
            font-weight: 400;
            @include adaptiv-font(24, 16);
            line-height: 160%;
            color: #666666;
            padding: 0 0 40px 0;
        }
        .author{
            h4{
                font-weight: 600;
                @include adaptiv-font(24, 20);
                line-height: 160%;
            }
            h6{
                font-weight: 500;
                @include adaptiv-font(18, 12);
                line-height: 160%;
                letter-spacing: 0.08em;
                color: #868686;
            }
        }
    }
}


@media (max-width:960px) {
    .slide{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img{
            max-width: 407px;
            width: 100%;
        }
        .text__block{
            align-items: center;
            margin-bottom: 40px;
            min-height: 0;
            p{
                text-align: center;
            }
            .author{
                text-align: center;
            }
        }
    }
    .custom-pag{
        justify-content: center;
        margin-bottom: 0;
    }
    .swiper{
        margin-top: 50px;
    }
}
































@media (max-width:690px) {
    .benefits__row{
        flex-direction: column;
        .benefits__row__card{
            margin-bottom: 60px;
        }
    }
}

@media (max-width:1300px) {

}