body{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    padding: 0 15px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 62px;
    max-width: 1440px;
    width: 100%;
}
.main__image__block{
    position: absolute;
    top: 0;
    right: 0;
    .image__button{
        position: absolute;
        bottom: -40px;
        left: 50%;
    }
}
span{
    color: #FF6428;
}


h2{
    text-align: center;
    font-weight: 600;
    @include adaptiv-font(44, 28);
    line-height: 53px
}



.start__page{
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    min-height: 720px;
    .app__block{
        padding-top: 20px;
        max-width: 470px;
        width: 100%;
        min-height: 291px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        h1{
            letter-spacing: -3.5px;
            font-weight: 600;
            @include adaptiv-font(56, 46);
            line-height: 67px;
            color: #121212;
            margin-bottom: 16px;
        }
        p{
            @include adaptiv-font(16, 14);
            font-weight: medium;
            color: #666666;
        }
        .getapp__block{
            margin-top: 26px;
            display: flex;
            align-items: center;
            button{
                height: 60px;
                width: 192px;
                margin-right: 12px;
                border: none;
                background-color: #FF6428;
                border-radius: 40px;
                a{
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    color: white;
                }
            }
            .app_link{
                margin-left: 28px;
            }
        }
    }
}

.logotype{
    width: 125px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        margin-left: 12px;
        letter-spacing: -0.3px;
        font-weight: 600;
        font-size: 24px;
    }
}

@media (max-width:1300px) {
    .main__image__block{
        display: none;
    }
    .start__page{
        justify-content: center;
        header{
            flex-direction: column;
            right: 0;
            margin: 0 auto;
            .logotype{
                position: absolute;
                bottom: 50px;
            }
            .navbar{
                position: absolute;
                right: 0;
                left: 0;
                margin: 0 auto;
            }
        }
        .app__block{
            text-align: center;
            align-items: center;
            .getapp__block{
                flex-direction: column;
                button{
                    margin: 0;
                }
                .os__icons{
                    margin-top: 10px;
                    a{
                        margin: 0 8px;
                        padding: 0;
                    }
                }
            }
        }
    }
}
@media (max-width:768px) {
    .main__image__block{
        display: none;
    }
    .wrapper{
        margin-top: 30px;
    }
}