.mobile__app{
    margin-top: 16%;
    max-width: 1172px;
    min-height: 533px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .browse__app{
        max-width: 484px;
        width: 100%;
        min-height: 318px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2{
            text-align: left;
            font-weight: 600;
            line-height: 140%;
            @include adaptiv-font(45, 36);
        }
        .market{
            img{
                margin-right: 25.65px;
            }
        }
    }
    .back{
        position: absolute;
        right: -20px;
    }
    .descrip{
        max-width: 568px;
        width: 100%;
        height: 533px;
        position: relative;
    }
}


@media (max-width:1125px) {
    .mobile__app{
        flex-direction: column;
        .browse__app{
            align-items: center;
            h2{
                text-align: center;
            }
            .market{
                margin-top: 30px;
                margin-bottom: 15px;
                display: flex;
                flex-direction: column;
                img{
                    width: 192px;
                    margin-right: 0;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .mobile__app{
            .descrip{
                max-width: 620px;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                .back{
                    position: static;
                    width: 100%;
                    height: 100%;
                }
            }
    }

}