.store__page{
    width: 100%;
    min-height: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}


.frame{
    width: 100%;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 30px;
    .row__title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 36px;
        h4{
            font-weight: 600;
            @include adaptiv-font(20, 12.5);
            text-align: center;
            line-height: 30px;
            letter-spacing: 0.08em;
            color: #121212;
            text-transform: uppercase;
        }
        a{
            font-weight: 500;
            @include adaptiv-font(20, 16);
            line-height: 30px;
            color: #868686;
        }
    }
    .row{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.card{
    max-width: auto;
    min-height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    div{
        cursor: pointer;
    }
    .card__name{
        text-align: center;
        cursor: pointer;
        font-weight: 500;
        @include adaptiv-font(16,14);
        line-height: 24px;
        color: #121212;
    }
    .price{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #666666;
    }
}


@media (max-width:1125px) {
    .store__page{
        min-height: 1100px;
    }
    .row__title{
        margin-top: 70px;
    }
    .row{
        .card{
            width: 195px;
            height: 390px;
            margin-top: 90px;
            align-items: center;
            div{
                margin-bottom: 0px;
                transform: rotate(-90deg)
            }
            .price{
                margin-top: -100px;
            }
        }
    }
}

@media (max-width:768px) {
    .store__page{
        justify-content: flex-start;
        min-height: auto;
    }
    .frame{
        margin-bottom: 20px;
        .row{
            width: auto;
        }
    }
    .row__title{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .product{
        flex-direction: row;
    }
    .row{
        //flex-direction: column;
        .card{
            display: none;
            justify-content: space-between;
            .card__name{
                text-align: center;
                .price{
                    text-align: center;
                }
            }
        }
        .based{
            display: flex;
            width: 120px;
            div{
                height: 160px;
                img{
                    height: 100%;
                }
            }
        }
    }
}